html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #4d908e;
}

main {
    height: 100vh;
}


/* Button micro interaction */
.btn:hover {
    filter: brightness(120%);
    transition: 0.2 ease-in-out;
}

/* Adds depth */
.col .btn {
    background-color: #90be6d;
    color: black;
    z-index: 10;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Styling for evolution and name displays */
.state {
    text-align: center;
    background-color: #90be6d;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Give up button for loss modal */
#admit-defeat {
    background-color: #f9844a;
    filter: brightness(80%);
    color: white;
}
#admit-defeat:hover {
    filter: brightness(110%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Margin for the header (the border alos just serves to provide more spacing) */
#header {
    border: 12px solid #4d908e;
    margin: 5px;
}

/* Some values that help keep things consistent on the page */
#main-container {
    max-width: 800px;
    min-width: 70vw;
}

/* Adjust naming modal placement */
#name-modal {
    margin: 25% 0;
}

/* Play again modal button */
#play-again {
    background-color: #277da1;
    color: white;
}
#play-again:hover {
    filter: brightness(120%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Reset button */
#reset {
    background-color: #277da1;
    font-size: 12px;
    width: 60px;
    position: absolute;
    right: 0;
    color: whitesmoke;
    opacity: .7;
    box-shadow: none;
}
#reset:hover {
    background-color: whitesmoke;
    opacity: 1;
    color: #277da1;
}

/* Secret Revert button */
#revert {
    background-color: #f94144;
    font-size: 12px;
    width: 60px;
    position: absolute;
    left: 0;
    color: whitesmoke;
    opacity: 0;
}

#revert:hover {
    opacity: .25;
}

#save-name {
    background-color: #277da1;
}

#save-name:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#title {
    text-align: center;
    background-color: #577590;
    color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}




/* ===== Animation CSS Below ===== */

.x {
    width: 170px;
}
  
.x {
    animation: x 5s linear infinite alternate;
}

.y {
    animation: y 3s linear infinite alternate;
}

@keyframes x {
    from {
        transform: translateX(-5vw);
    }
    to {
        transform: translateX(calc(75vw));
    }
}

@keyframes y {
    100% {
        transform: translateY(calc(42vh));
    }
}