html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    background-color: #4d908e;
}

/* .row {
    border: 1px solid gray;
}

.col {
    border: 2px solid black;
} */

.state {
    text-align: center;
    background-color: #90be6d;
    border-radius: 8px;
    font-size: 20px;
}

.btn {
    background-color: #90be6d;
    color: black;
}

/* .progress {
    background-color: transparent;
} */

.btn:hover {
    filter: brightness(120%);
    transition: 0.2 ease-in-out;
}

#reset {
    background-color: #277da1;
    font-size: 12px;
    width: 60px;
    position: absolute;
    right: 0;
    color: whitesmoke;
    opacity: .7;
}

#reset:hover {
    background-color: whitesmoke;
    opacity: 1;
    color: #277da1;
}

/* Not sure if I wanna keep this or not */
#main-container {
    max-width: 800px;
}

#header {
    border: 12px solid #4d908e;
    margin: 5px;
}

#title {
    text-align: center;
    background-color: #577590;
    color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 30px;
}

#stage {
    /* background-color: aquamarine;2 */
}









/* Rough CSS outline / concept courtesy of Scott Kellum */

:root {
    --x-speed: 5s;
    --y-speed: 3s;
    /* --transition-speed: 2.2s; */
}
  
.x {
    animation: x var(--x-speed) linear infinite alternate;
    /* width: var(--width);
    height: var(--width); */
}
.y {
    animation: y var(--y-speed) linear infinite alternate;
    /* width: var(--width);
    height: var(--width); */
}


/* -webkit-transform: scaleX(-1);
transform: scaleX(-1); */
#sprite {
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}
  
@keyframes x {
    100% {
        transform: translateX(calc(75vw));
        /* -webkit-transform: scaleX(-1);
        transform: scaleX(-1); */
    }
}

@keyframes y {
    100% {
        transform: translateY(calc(42vh));
    }
}